body {
    color:aliceblue;
    background: black;
}

header {
    border-bottom: solid 2px rgb(42, 87, 22);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 87, 22);
}

section {
    background: rgb(18, 74, 230);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}